{% style %}
.div-{{section.id}} {
  --background-color: {{ section.settings.bg_color }};
  --color: {{ section.settings.text_color }};
}
{% endstyle %}
{% if section.settings.content != blank %}
<div class="bg-container div-{{section.id}} text-center uppercase text-xs py-2.5 page-width">
  <div class="rte">
    {{ section.settings.content }}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Message"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
