<header class="header grid grid-cols-[1fr_auto_1fr] md:mx-12 py-12 mx-5">
  <div class="md:hidden block">
      <button type="button" class="menu-btn flex justify-center items-center h-full js-menu-btn">
        <div class="w-5 h-5">
          {% render 'icon-hamburger' %}
        </div>
      </button>
      <div class="mobile-menu">
        <nav id="mobile-navigation" role="menu">
          <div class="drawer-close bg-slate-300 text-right">
            <button type="button" class="p-4 menu-btn js-menu-btn">
              <div class="w-5 h-5">
                {% render 'icon-close' %}
              </div>
            </button>
          </div>
          <ul class="flex flex-col" role="list">
            {%- for link in section.settings.menu.links -%}
            <li class="text-left hover:bg-neutral-200">
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="text-lg py-3 px-8 block"
              >
                <span class="menu-label">{{ link.title | escape }}</span>
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
  </div>
  <nav class="header__inline-menu md:block hidden" role="menu">
    <ul class="inline-flex nowrap" role="list">
      {%- for link in section.settings.menu.links -%}
      <li>
        <a
          id="HeaderMenu-{{ link.handle }}"
          href="{{ link.url }}"
          class="text-lg p-3"
        >
          <span class="menu-label">{{ link.title | escape }}</span>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
  {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
  {%- endif -%}
      <a href="{{ routes.root_url }}" class="block">
        {%- if settings.logo != blank -%}
          <div class="custom-max-width" style="--max-width: {{ settings.logo_width }}px">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag:
              class: 'w-full h-auto',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}
  <div class="header__icons flex justify-end">
    <a class="flex items-center" href="{{ routes.cart_url }}">
      <div class="w-5 h-5 mr-2">
        {% render 'icon-basket' %}
      </div>
      <span class="icon-label md:block hidden">Basket</div>
    </a>
  </div>
</header>
<script src="{{ 'z__MobileNavigation.js' | asset_url }}" defer></script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header page-width",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
